/* CSS for HTML tag */
  /* thẻ body */
  body {
      width: 99%;
      height: 100%;
      background-color: rgba(85, 164, 246, 0.19);
  }
  
  /* thẻ header */
  header {
      height: 50px;
      float: left;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      color: white;
      text-align: center;
      background-color: rgb(29, 223, 72);
  }

  /* thẻ h2 trong header */
  header h2 {
      color: white;
      margin: 15px 0 0 20px;
      float: center;
      font-size: 1.8em;
  }

  /* thẻ footer */
  footer {
      height: 50px;
      float: left;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      color: white;
      text-align: center;
      background-color: rgb(29, 223, 72);
  }

  /* thẻ h3 trong footer */
  footer h3 {
      color: white;
      float: center;
  }

  /* thẻ table */
  table {
      float: left;
      width: 100%;
      text-align: center;
  }

  /* thẻ fieldset */
  fieldset {
      border: 0px;
  }

  /* thẻ input */
  input {
      background-color: white;
      color: black;
      padding: 5px;
      border: 1px solid black;
      border-radius: 10px;
  }

  /* các thẻ select và option */
  select, option {
      background-color: white;
      color: black;
      padding: 5px;
      border: 1px solid black;
      border-radius: 10px;
  }

/* CSS for HTML class */
  /* lớp btn cho button */
  .btn {
      background-color: white;
      color: blue;
      font-weight: bold;
      padding: 5px 10px 5px 10px;
      border: 1px solid blue;
      border-radius: 10px;
  }

  /* lớp btn-primary cho thẻ button */
  .btn-primary {
      background-color: blue !important;
      color: white !important;
      border: 1px solid white !important;
  }

  /* lớp btn-danger cho thẻ button */
  .btn-danger {
      background-color: red !important;
      color: white !important;
      border: 1px solid white !important;
  }

  /* sự kiện hover cho các lớp btn */
  .btn:hover {
      background-color: blue;
      color: white;
      font-weight: bold;
      padding: 5px 10px 5px 10px;
      border: 1px solid white;
      border-radius: 10px;
  }

  .btn-primary:hover {
      background-color: white !important;
      color: blue !important;
      border: 1px solid blue !important;
  }

  .btn-danger:hover {
      background-color: white !important;
      color: red !important;
      border: 1px solid red !important;
  }

  /* lớp menu-bar */
  .menu-bar {
      overflow: hidden;
      background-color: rgb(29, 223, 72);
  }

  /* thẻ a trong lớp menu-bar */
  .menu-bar a {
      float: left;
      display: block;
      color: #FFF;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
  }

  /* sự kiện hover của thẻ a trong lớp menu-bar */
  .menu-bar a:hover {
      background-color: #4CAF50;
      color: #FFF;
  }

  /* lớp icon hiển thị icon menu-bar ở giao diện responsive */
  .menu-bar .icon {
      display: none;
  }

  /* mẫu giao diện menu-bar kiểu cũ sử dụng thẻ ul-li */
  /* .menu-bar {
      width: 100%;
      height: 32px;
      float: left;
      background-color: rgb(29, 223, 72);
  }

  .menu-bar ul{
      list-style: none;
      margin: 0px 0 0 0px;
      padding: 0px 0 0 0px;
  }

  .menu-bar ul li {
      font-weight: bold;
      float: left;
      background-color: rgb(29, 223, 72);
      margin-left: 15px;
      margin-right: 15px;
  }

  .menu-bar ul a, ul a:visited {
      padding: 5px 5px 5px 15px;
      display: block;
      text-decoration: none;
  }

  .menu-bar ul a:hover, ul a:active, ul a:focus {
      background-color: #4CAF50;
      color: #FFF;
  }

  .menu-bar a {
      text-decoration: none;
      color: white;
  } */

  /* lớp main-content để hiển thị các nội dung chính của web */
  .main-content {
      width: 100%;
      height: 100%;
      float: left;
      margin-top: 80px;
      float: left;
      margin-bottom: 100px;
  }

  /* định nghĩa các thẻ button trong main-content */
  .main-content button {
      margin-right: 5px;
  }

  /* lớp list-nvien hiển thị danh sách nhân viên tại trang chủ */
  .list-nvien {
      width: 100%;
      text-align: center;
      margin-left: 15px;
      float: left;
  }

  /* lớp list-nvien-detail hiển thị từng cá nhân trong danh sách nhân viên */
  .list-nvien-detail {
      width: 205px;
      margin: 0 5px 10px 5px;
      border-radius: 10px;
      border: 1px solid #ddd;
      float: left;
  }

  /* thẻ img hiển thị hình ảnh của nhân viên trong lớp list-nvien-detail */
  .list-nvien-detail img {
      width: 100%;
      border-radius: 10px;
      height: 220px;
  }

  /* thẻ b để in đậm tên của nhân viên trong lớp list-nvien-detail */
  .list-nvien-detail b {
      color: blue;
  }

  /* thẻ span để trang trí ô mã số nhân viên trong lớp list-nvien-detail */
  .list-nvien-detail span {
      color: rgb(176, 177, 177);
  }

  /* định nghĩa các thẻ table, th, td trong lớp qly-nvien-tbl của bảng quản lý nhân viên */
  .qly-nvien-tbl table, th, td {
      border: 0px;
  }

  /* .qly-nvien-tbl table, th, td {
      border: 1px solid #ddd;
  } */

  /* định nghĩa màu sắc của dòng tên trường hiển thị th */
  .qly-nvien-tbl th {
      background-color: #4CAF50;
      color: white;
  }

  /* .qly-nvien-tbl tr:nth-child(even) {
      background-color: #f2f2f2;
  } */

  /* định nghĩa màu nền của mỗi dòng nội dung ở thẻ tr */
  .qly-nvien-tbl tr {
      background-color: #f2f2f2;
  }

  /* định nghĩa khoảng cách của các button trong danh sách quản lý nhân viên */
  .qly-nvien-tbl button {
      margin: 5px 0 5px 0;
  }

  /* định nghĩa bảng tại các trang chỉnh sửa nhân viên thuộc tính năng quản lý nhân viên */
  .tbl-nvien-not-qly table {
      text-align: left;
  }

  /* sự kiện hover khi đưa trỏ chuột vào vùng hiển thị của thẻ tr */
  .qly-don-vi tr:hover {
      background-color: #f5f5f5;
  }

  .qly-chuc-vu tr:hover {
      background-color: #f5f5f5;
  }

  /* định nghĩa nhãn tên bảng hiển thị với thẻ th */
  .qly-don-vi th {
      border-bottom: 1px solid #ddd;
      background: #4CAF50;
      color: white;
  }

  .qly-chuc-vu th {
      border-bottom: 1px solid #ddd;
      background: #4CAF50;
      color: white;
  }

  /* định nghĩa viền dưới của thẻ td */
  .qly-don-vi td {
      border-bottom: 1px solid #ddd;
  }

  .qly-chuc-vu td {
      border-bottom: 1px solid #ddd;
  }

  /* lớp hiển thị khi ở khung hình chuẩn */
  .full-screen {
      display: block;
  }

  .mobile-screen {
      display: none;
  }

  /* tùy biến thanh trượt dọc scrollbar khi có nội dung quá dài theo chiều dọc */
/* Custom scrollbar - w3school */
  /* width */
  ::-webkit-scrollbar {
      width: 2px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
      /* background: #f1f1f1; */
      background: rgb(29, 223, 72);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
      /* background: #888; */
      background: rgb(29, 223, 72);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      background: #4CAF50;
  }

/* CSS for HTML tag id */
  /* canh giữa nội dung trong các tag id liên quan */
  #trang-chu, #qly-nhan-vien, #qly-don-vi, #qly-chuc-vu {
      text-align: center;
  }

  /* mặc định ẩn các trang thuộc các tag id liên quan */
  #qly-nhan-vien, #qly-don-vi, #qly-chuc-vu {
      display: none;
  }

  /* quy định kích thước của các tag id liên quan */
  #them-nvien, #chinh-sua-nvien, #them-hinhanh-nvien, #chinh-sua-hinhanh-nvien {
      width: 97%;
      display: none;
      float: left;
  }

  /* đoạn code định nghĩa các thẻ - lớp - tag id cho tính năng responsive */
/* Responsive */
@media only screen and (max-width: 920px) {
  header {
      height: 100px;
      float: left;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      color: white;
      text-align: center;
      background-color: rgb(29, 223, 72);
  }

  footer {
      height: 60px;
      float: left;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      color: white;
      text-align: center;
      background-color: rgb(29, 223, 72);
  }

  .menu-bar a:not(:first-child) {
      display: none;
  }
  .menu-bar a.icon {
      float: right;
      display: block;
  }

  .menu-bar.responsive {
      position: relative;
  }
  .menu-bar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
  }
  .menu-bar.responsive a {
      float: none;
      display: block;
      text-align: left;
  }

  .full-screen {
      display: none;
  }

  .mobile-screen {
      display: block;
  }
}
